In [3]:
import pandas as pd

pd.set_option('display.max_colwidth', 150)
pd.set_option('display.max_rows',10)

# playtime_df = pd.read_csv('../light_data/function2.csv')
# genre_df = pd.read_csv('../light_data/playtimegenre.csv')

In [ ]:
playtime_df

                   user_id  item_id  playtime_forever
0        76561197970982479       10                 6
1        76561197970982479       20                 0
2        76561197970982479       30                 7
3        76561197970982479       40                 0
4        76561197970982479       50                 0
...                    ...      ...               ...
5153204  76561198329548331   346330                 0
5153205  76561198329548331   373330                 0
5153206  76561198329548331   388490                 3
5153207  76561198329548331   521570                 4
5153208  76561198329548331   519140                 3

[5153209 rows x 3 columns]

In [ ]:
genre_df

,item_id,release_date_imputed,tags&genres
0,761140,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Simulation']"
1,643980,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', 'Card Game', 'Trading Card Game', 'Turn-Based', 'Fantasy', 'Tactical', 'Dark Fantasy', 'Board Game', ..."
2,670290,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casual', 'Indie', 'Multiplayer']"
3,767400,2017-12-07,"['Action', 'Adventure', 'Casual']"
4,773570,2017-12-26,"['Action', 'Indie', 'Casual', 'Sports']"
...,...,...,...
32127,773640,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']"
32128,733530,2018-01-04,"['Strategy', 'Indie', 'Casual']"
32129,610660,2018-01-04,"['Indie', 'Simulation', 'Racing']"
32130,658870,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', 'Atmospheric', 'Relaxing']"
32131,681550,2018-01-03,"['Early Access', 'Adventure', 'Indie', 'Action', 'Simulation', 'VR']"

In [ ]:
merged_df = playtime_df.merge(genre_df, on='item_id')

In [ ]:
merged_df

,user_id,item_id,playtime_forever,release_date_imputed,tags&genres
0,76561197970982479,10,6,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
1,js41637,10,0,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
2,Riot-Punch,10,0,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
3,doctr,10,93,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
4,corrupted_soul,10,108,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
...,...,...,...,...,...
4294252,76561198081168593,375450,51,2016-03-23,"['Strategy', 'Historical']"
4294253,76561198101994484,353390,0,2015-11-10,"['Steam Machine', 'Hardware', 'Gaming', 'Futuristic', 'Sci-fi', 'Singleplayer', 'Local Multiplayer', 'Indie', 'First-Person', 'Simulation', 'Roman..."
4294254,76561198107283457,354280,164,2016-02-23,"['Indie', 'Casual', 'Action', 'Simulation']"
4294255,inven,433920,0,2016-02-01,"['RPG', 'Indie', 'Adventure', 'RPGMaker']"
4294256,danebuchanan,485270,7,2018-01-03,"['Casual', 'Simulation', 'Psychological Horror', 'Horror', 'VR']"

In [ ]:
merged_df.to_parquet('../light_data/testFunction2toerase.parquet', engine="pyarrow")

In [ ]:
# As there are some NaN values in "tags&genres" we will need to test this in function condition
genre_df[genre_df['tags&genres'].isna()]

       item_id release_date_imputed tags&genres
278      31990           2009-07-21         NaN
297      35050           2009-08-19         NaN
308      39392           2009-09-23         NaN
309      39391           1999-11-30         NaN
357      25806           2009-12-15         NaN
...        ...                  ...         ...
31622    37290           2009-08-12         NaN
31624    37280           2009-08-12         NaN
31636    36270           2009-07-17         NaN
31649    34910           2009-07-20         NaN
31805    11920           2008-04-18         NaN

[162 rows x 3 columns]

In [ ]:
# genre_var = 'Action'

# def UserForGenre(row, genre):
#     from ast import literal_eval
#     row_to_match=0
#     genre_df['release_date_imputed'] = pd.to_datetime(genre_df['release_date_imputed']).dt.date # extract just the date
    
#     # playtime = pd.read_csv('../light_data/function2.csv')
#     # genre = pd.read_csv('../light_data/playtimegenre.csv')
    
#     if not pd.isna(row['tags&genres']):
#        for gen in literal_eval(row['tags&genres']): # Turns a list-like string into real list to be usefully iterable
#             if gen in genre:
#                 # Find the index of the row where 'item_id' is 'row['item_id']
#                 row_index_on_genre = (genre_df['item_id'] == row['item_id']).idxmax()
#                 # Use iloc to access the entire row with the specified index
#                 row_to_match = genre_df.iloc[row_index_on_genre]
#                 # Now do the same thing on playtime
#                 row_index_on_playtime = (playtime_df['item_id'] == row['item_id']).idxmax()
#                 # finally we put 'playtime_forever' and 'user_id' into genre_df
#                 row_to_match['user_id'], row_to_match['playtime_forever']  = [playtime_df['user_id'].iloc[row_index_on_playtime], playtime_df['playtime_forever'].iloc[row_index_on_playtime]]
#             else:
#                 continue
#     return row_to_match

# print(genre_df.apply(UserForGenre, axis=1, result_type='reduce', genre=genre_var))

In [1]:
result = pd.read_parquet("../light_data/testFunction2toerase.parquet", engine="pyarrow")
result

NameError: name 'pd' is not defined

In [6]:
genre = "Action"
data = pd.read_parquet("../light_data/function2.parquet", engine="pyarrow")

In [ ]:
data

,user_id,item_id,playtime_forever,release_date_imputed,tags&genres
0,76561197970982479,10,6,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
1,js41637,10,0,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
2,Riot-Punch,10,0,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
3,doctr,10,93,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
4,corrupted_soul,10,108,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili..."
...,...,...,...,...,...
4294252,76561198081168593,375450,51,2016-03-23,"['Strategy', 'Historical']"
4294253,76561198101994484,353390,0,2015-11-10,"['Steam Machine', 'Hardware', 'Gaming', 'Futuristic', 'Sci-fi', 'Singleplayer', 'Local Multiplayer', 'Indie', 'First-Person', 'Simulation', 'Roman..."
4294254,76561198107283457,354280,164,2016-02-23,"['Indie', 'Casual', 'Action', 'Simulation']"
4294255,inven,433920,0,2016-02-01,"['RPG', 'Indie', 'Adventure', 'RPGMaker']"
4294256,danebuchanan,485270,7,2018-01-03,"['Casual', 'Simulation', 'Psychological Horror', 'Horror', 'VR']"

In [14]:
data['release_date_imputed'] = pd.to_datetime(data['release_date_imputed'], format='%Y-%m-%d', errors='coerce')

KeyError: 'release_date_imputed'

In [ ]:
data['year'] = data['release_date_imputed'].dt.year

In [ ]:
data.drop('release_date_imputed', axis=1, inplace=True)

In [ ]:
data = data.drop(data[data['playtime_forever']==0].index)

In [ ]:
data = data.drop(data[data['tags&genres'].isna()].index)

In [ ]:
data

,user_id,item_id,playtime_forever,tags&genres,year
0,76561197970982479,10,6,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
3,doctr,10,93,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
4,corrupted_soul,10,108,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
7,WeiEDKrSat,10,328,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
8,death-hunter,10,6275,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
...,...,...,...,...,...
4294250,peter1023199,456780,6,"['Simulation', 'Racing', 'Sports']",2016
4294251,76561198071808318,444770,46,"['Indie', 'Adventure', 'Cute', 'Puzzle-Platformer', 'Platformer', 'Family Friendly', 'Puzzle', '2D']",2016
4294252,76561198081168593,375450,51,"['Strategy', 'Historical']",2016
4294254,76561198107283457,354280,164,"['Indie', 'Casual', 'Action', 'Simulation']",2016
4294256,danebuchanan,485270,7,"['Casual', 'Simulation', 'Psychological Horror', 'Horror', 'VR']",2018

In [4]:
data.to_parquet('../light_data/function2.parquet', engine="pyarrow")

NameError: name 'data' is not defined

In [ ]:



# what follows is a suboptimezed procedure to fulfill the task given, as many problems occur during deploy on Render.com.
# 1) The free account is limited to 512 Mb, so to upload complete df, compression in parquet is mandatory.
# 2) This compression misses the chance to recognize lists in cell. On the contrary, just list-like strings are able to be retrieved once compressed.
# 3) To read parquet and convert the string to proper lists, the task can be done but it lasts more than 2 minutes wich makes it non-viable
# 4) Only two ways left: shorten the original df (do not like) or test string (better)

# def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y
# una lista de la acumulación de horas jugadas por año.

# Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" :
# us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [ ]:
data[data['tags&genres'].isna()]

                 user_id  item_id  playtime_forever tags&genres  year
4199399           chidvd    36270                 0        None  2009
4276812        horizon95   503110                 0        None  2016
4276813          iMurder   503110                 0        None  2016
4276814          phrostb   503110                 0        None  2016
4276815   primalcrescent   503110                 0        None  2016
...                  ...      ...               ...         ...   ...
4292473            kaede    11920               148        None  2008
4292474  KillSwitch_2000    11920                 0        None  2008
4292475       Ellimist22    11920                 0        None  2008
4292476      likeapotato    11920                69        None  2008
4292477       T-Dub-1991    11920                 1        None  2008

[117 rows x 5 columns]

In [7]:
filtered_df_by_genre = data[(~pd.isna(data['tags&genres'])) & (data['tags&genres'].str.contains(genre))]

In [8]:
user_most_played = filtered_df_by_genre.groupby('user_id')['playtime_forever'].sum().reset_index().sort_values(by='playtime_forever', ascending=False).iloc[0]

In [9]:
user_most_played

user_id             Sp3ctre
playtime_forever    1978769
Name: 50569, dtype: object

In [10]:
playtime_history_for_user_most_played = user_most_played['user_id']

In [11]:
playtime_history_for_user_most_played

'Sp3ctre'

In [12]:
response = data[data['user_id']==playtime_history_for_user_most_played].groupby('year')['playtime_forever'].sum().reset_index()
response['playtime_forever'] = round(response['playtime_forever']/60,0)
change_column_names_to_spanish = {'year': 'anio', 'playtime_forever': 'horas'}
response.rename(columns=change_column_names_to_spanish, inplace=True)
print(response.to_json(orient='records', lines=True))

{"anio":1995,"horas":4.0}
{"anio":1997,"horas":5.0}
{"anio":1999,"horas":10.0}
{"anio":2000,"horas":1177.0}
{"anio":2001,"horas":4.0}
{"anio":2002,"horas":6.0}
{"anio":2003,"horas":129.0}
{"anio":2004,"horas":2134.0}
{"anio":2005,"horas":356.0}
{"anio":2006,"horas":1536.0}
{"anio":2007,"horas":1880.0}
{"anio":2008,"horas":143.0}
{"anio":2009,"horas":1818.0}
{"anio":2010,"horas":1386.0}
{"anio":2011,"horas":2591.0}
{"anio":2012,"horas":6432.0}
{"anio":2013,"horas":3455.0}
{"anio":2014,"horas":2320.0}
{"anio":2015,"horas":8543.0}
{"anio":2016,"horas":779.0}
{"anio":2017,"horas":729.0}

In [8]:
import pandas as pd

def UserForGenre(genre:str):

        data = pd.read_parquet("function2.parquet", engine="fastparquet")
        filtered_df_by_genre = data[(~pd.isna(data['tags&genres'])) & (data['tags&genres'].str.contains(genre))] # serch for genre and no NaN   
        user_most_played = filtered_df_by_genre.groupby('user_id')['playtime_forever'].sum().reset_index().sort_values(by='playtime_forever', ascending=False).iloc[0]
        playtime_history_for_user_most_played = user_most_played['user_id']
        response = data[data['user_id']==playtime_history_for_user_most_played].groupby('year')['playtime_forever'].sum().reset_index()
        response['playtime_forever'] = round(response['playtime_forever']/60,0)
        change_column_names_to_spanish = {'year': 'anio', 'playtime_forever': 'horas'}
        response.rename(columns=change_column_names_to_spanish, inplace=True)
        final_response = response.to_json(orient='records', lines=True)
        del data
        return {f"The user wich most played {genre} genre is {playtime_history_for_user_most_played} {final_response}"}


print(UserForGenre('Action'))

{'The user wich most played Action genre is Sp3ctre {"anio":1995,"horas":4.0}\n{"anio":1997,"horas":5.0}\n{"anio":1999,"horas":10.0}\n{"anio":2000,"horas":1177.0}\n{"anio":2001,"horas":4.0}\n{"anio":2002,"horas":6.0}\n{"anio":2003,"horas":129.0}\n{"anio":2004,"horas":2134.0}\n{"anio":2005,"horas":356.0}\n{"anio":2006,"horas":1536.0}\n{"anio":2007,"horas":1880.0}\n{"anio":2008,"horas":143.0}\n{"anio":2009,"horas":1818.0}\n{"anio":2010,"horas":1386.0}\n{"anio":2011,"horas":2591.0}\n{"anio":2012,"horas":6432.0}\n{"anio":2013,"horas":3455.0}\n{"anio":2014,"horas":2320.0}\n{"anio":2015,"horas":8543.0}\n{"anio":2016,"horas":779.0}\n{"anio":2017,"horas":729.0}\n'}

In [5]:
# Function 5 test
import pandas as pd
def sentiment_analysis(year:int):

# Example for web testing: https://test-deploy-kvdi.onrender.com/sentiment_analysis/2015

# It returns a list with total user reviews categorized by sentiment analisys (Negative, Neutral and Positive) for a given year

# Parameters:
# - year(int): The year for which recommendations were issued
# Return:
# - dict: A dictionary with the 3 categories for that year


    data = pd.read_csv('function345.csv')    
    data['modified_date'] = pd.to_datetime(data['modified_date'])
    year_condition = data[data['modified_date'].dt.year==year]

    reviews = year_condition.groupby('sentiment_analisys')['user_id'].count().reset_index()
    return {
            "negative"  : reviews['user_id'].iloc[0],
            "neutral"   : reviews['user_id'].iloc[1],
            "positive"  : reviews['user_id'].iloc[2]
            }
sentiment_analysis(2015)

{'negative': 1229, 'neutral': 14360, 'positive': 2881}