In [2]:
import pandas as pd

pd.set_option('display.max_colwidth', 150)
pd.set_option('display.max_rows',5)

playtime_df = pd.read_csv('../light_data/function2.csv')
genre_df = pd.read_csv('../light_data/playtimegenre.csv')

In [3]:
playtime_df.sample(1)

         Unnamed: 0  user_id  item_id  playtime_forever
1730194     1730194  jablets    38400                27

In [4]:
genre_df.sample(1)

      item_id release_date_imputed                        tags&genres
9131   607560           2018-01-03  ['Utilities', 'Audio Production']

In [5]:
merged_df = playtime_df.merge(genre_df, on='item_id')

In [6]:
merged_df.sample(1)

,Unnamed: 0,user_id,item_id,playtime_forever,release_date_imputed,tags&genres
284076,284076,76561198066582571,22380,864,2010-10-19,"['Open World', 'RPG', 'Post-apocalyptic', 'Singleplayer', 'Moddable', 'First-Person', 'Action', 'Exploration', 'Adventure', 'Sci-fi', 'Story Rich'..."

In [ ]:
merged_df.to_parquet('../light_data/testFunction2toerase.parquet', engine="pyarrow")

In [ ]:
# As there are some NaN values in "tags&genres" we will need to test this in function condition
genre_df[genre_df['tags&genres'].isna()]

       item_id release_date_imputed tags&genres
278      31990           2009-07-21         NaN
297      35050           2009-08-19         NaN
...        ...                  ...         ...
31648    34910           2009-07-20         NaN
31804    11920           2008-04-18         NaN

[162 rows x 3 columns]

In [ ]:
result = pd.read_parquet("../light_data/testFunction2toerase.parquet", engine="pyarrow")
result

In [9]:
genre = "Action"
data = pd.read_parquet("light_data/function2.parquet", engine="pyarrow")

In [10]:
data

,user_id,item_id,playtime_forever,tags&genres,year
0,76561197970982479,10,6,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
3,doctr,10,93,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
...,...,...,...,...,...
4294254,76561198107283457,354280,164,"['Indie', 'Casual', 'Action', 'Simulation']",2016
4294256,danebuchanan,485270,7,"['Casual', 'Simulation', 'Psychological Horror', 'Horror', 'VR']",2018

In [ ]:
data['release_date_imputed'] = pd.to_datetime(data['release_date_imputed'], format='%Y-%m-%d', errors='coerce')

In [ ]:
data['year'] = data['release_date_imputed'].dt.year #done

In [ ]:
data.drop('release_date_imputed', axis=1, inplace=True) #done

In [ ]:
data = data.drop(data[data['playtime_forever']==0].index) # done

In [ ]:
data = data.drop(data[data['tags&genres'].isna()].index) # done

In [ ]:
data

,user_id,item_id,playtime_forever,tags&genres,year
0,76561197970982479,10,6,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
3,doctr,10,93,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic', 'Team-Based', 'Competitive', 'First-Person', 'Tactical', ""1990's"", 'e-sports', 'PvP', 'Mili...",2000
...,...,...,...,...,...
4294254,76561198107283457,354280,164,"['Indie', 'Casual', 'Action', 'Simulation']",2016
4294256,danebuchanan,485270,7,"['Casual', 'Simulation', 'Psychological Horror', 'Horror', 'VR']",2018

In [11]:
data_steam_copy = data.copy()

In [27]:
data_steam_copy

,user_id,item_id,playtime_forever,tags&genres,year
0,76561197970982479,10,6,"[Action, FPS, Multiplayer, Shooter, Classic, Team-Based, Competitive, First-Person, Tactical, 1990's, e-sports, PvP, Military, Strategy, Score Att...",2000
3,doctr,10,93,"[Action, FPS, Multiplayer, Shooter, Classic, Team-Based, Competitive, First-Person, Tactical, 1990's, e-sports, PvP, Military, Strategy, Score Att...",2000
...,...,...,...,...,...
4294254,76561198107283457,354280,164,"[Indie, Casual, Action, Simulation]",2016
4294256,danebuchanan,485270,7,"[Casual, Simulation, Psychological Horror, Horror, VR]",2018

In [ ]:
data.to_parquet('../light_data/function2.parquet', engine="pyarrow")

In [41]:
genre_features.to_parquet('light_data/recommendfunc1.parquet', engine="pyarrow")

In [ ]:
# what follows is a suboptimezed procedure to fulfill the task given, as many problems occur during deploy on Render.com.
# 1) The free account is limited to 512 Mb, so to upload complete df, compression in parquet is mandatory.
# 2) This compression misses the chance to recognize lists in cell. On the contrary, just list-like strings are able to be retrieved once compressed.
# 3) To read parquet and convert the string to proper lists, the task can be done but it lasts more than 2 minutes wich makes it non-viable
# 4) Only two ways left: shorten the original df (do not like) or test string (better)

# def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y
# una lista de la acumulación de horas jugadas por año.

# Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" :
# us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [ ]:
data[data['tags&genres'].isna()]

                 user_id  item_id  playtime_forever tags&genres  year
4199399           chidvd    36270                 0        None  2009
4276812        horizon95   503110                 0        None  2016
4276813          iMurder   503110                 0        None  2016
4276814          phrostb   503110                 0        None  2016
4276815   primalcrescent   503110                 0        None  2016
...                  ...      ...               ...         ...   ...
4292473            kaede    11920               148        None  2008
4292474  KillSwitch_2000    11920                 0        None  2008
4292475       Ellimist22    11920                 0        None  2008
4292476      likeapotato    11920                69        None  2008
4292477       T-Dub-1991    11920                 1        None  2008

[117 rows x 5 columns]

In [ ]:
filtered_df_by_genre = data[(~pd.isna(data['tags&genres'])) & (data['tags&genres'].str.contains(genre))]

In [ ]:
user_most_played = filtered_df_by_genre.groupby('user_id')['playtime_forever'].sum().reset_index().sort_values(by='playtime_forever', ascending=False).iloc[0]

In [ ]:
user_most_played

user_id             Sp3ctre
playtime_forever    1978769
Name: 50569, dtype: object

In [ ]:
playtime_history_for_user_most_played = user_most_played['user_id']

In [ ]:
playtime_history_for_user_most_played

'Sp3ctre'

In [ ]:
response = data[data['user_id']==playtime_history_for_user_most_played].groupby('year')['playtime_forever'].sum().reset_index()
response['playtime_forever'] = round(response['playtime_forever']/60,0)
change_column_names_to_spanish = {'year': 'anio', 'playtime_forever': 'horas'}
response.rename(columns=change_column_names_to_spanish, inplace=True)
print(response.to_json(orient='records', lines=True))

{"anio":1995,"horas":4.0}
{"anio":1997,"horas":5.0}
{"anio":1999,"horas":10.0}
{"anio":2000,"horas":1177.0}
{"anio":2001,"horas":4.0}
{"anio":2002,"horas":6.0}
{"anio":2003,"horas":129.0}
{"anio":2004,"horas":2134.0}
{"anio":2005,"horas":356.0}
{"anio":2006,"horas":1536.0}
{"anio":2007,"horas":1880.0}
{"anio":2008,"horas":143.0}
{"anio":2009,"horas":1818.0}
{"anio":2010,"horas":1386.0}
{"anio":2011,"horas":2591.0}
{"anio":2012,"horas":6432.0}
{"anio":2013,"horas":3455.0}
{"anio":2014,"horas":2320.0}
{"anio":2015,"horas":8543.0}
{"anio":2016,"horas":779.0}
{"anio":2017,"horas":729.0}

In [ ]:
import pandas as pd

def UserForGenre(genre:str):

        data = pd.read_parquet("function2.parquet", engine="fastparquet")
        filtered_df_by_genre = data[(~pd.isna(data['tags&genres'])) & (data['tags&genres'].str.contains(genre))] # serch for genre and no NaN   
        user_most_played = filtered_df_by_genre.groupby('user_id')['playtime_forever'].sum().reset_index().sort_values(by='playtime_forever', ascending=False).iloc[0]
        playtime_history_for_user_most_played = user_most_played['user_id']
        response = data[data['user_id']==playtime_history_for_user_most_played].groupby('year')['playtime_forever'].sum().reset_index()
        response['playtime_forever'] = round(response['playtime_forever']/60,0)
        change_column_names_to_spanish = {'year': 'anio', 'playtime_forever': 'horas'}
        response.rename(columns=change_column_names_to_spanish, inplace=True)
        final_response = response.to_to_dict(orient='records')
        del data
        return {f"The user wich most played {genre} genre is {playtime_history_for_user_most_played} {final_response}"}


print(UserForGenre('Action'))

{'The user wich most played Action genre is Sp3ctre {"anio":1995,"horas":4.0}\n{"anio":1997,"horas":5.0}\n{"anio":1999,"horas":10.0}\n{"anio":2000,"horas":1177.0}\n{"anio":2001,"horas":4.0}\n{"anio":2002,"horas":6.0}\n{"anio":2003,"horas":129.0}\n{"anio":2004,"horas":2134.0}\n{"anio":2005,"horas":356.0}\n{"anio":2006,"horas":1536.0}\n{"anio":2007,"horas":1880.0}\n{"anio":2008,"horas":143.0}\n{"anio":2009,"horas":1818.0}\n{"anio":2010,"horas":1386.0}\n{"anio":2011,"horas":2591.0}\n{"anio":2012,"horas":6432.0}\n{"anio":2013,"horas":3455.0}\n{"anio":2014,"horas":2320.0}\n{"anio":2015,"horas":8543.0}\n{"anio":2016,"horas":779.0}\n{"anio":2017,"horas":729.0}\n'}

In [ ]:
# Function 5 test
import pandas as pd
def sentiment_analysis(year:int):

# Example for web testing: https://test-deploy-kvdi.onrender.com/sentiment_analysis/2015

# It returns a list with total user reviews categorized by sentiment analisys (Negative, Neutral and Positive) for a given year

# Parameters:
# - year(int): The year for which recommendations were issued
# Return:
# - dict: A dictionary with the 3 categories for that year


    data = pd.read_csv('function345.csv')    
    data['modified_date'] = pd.to_datetime(data['modified_date'])
    year_condition = data[data['modified_date'].dt.year==year]

    reviews = year_condition.groupby('sentiment_analisys')['user_id'].count().reset_index()
    return {
            "negative"  : reviews['user_id'].iloc[0],
            "neutral"   : reviews['user_id'].iloc[1],
            "positive"  : reviews['user_id'].iloc[2]
            }
sentiment_analysis(2015)

{'negative': 1229, 'neutral': 14360, 'positive': 2881}